body{
  font-family: 'Veranda', sans-serif;
  font-size: 12px;
}
.header{
  background-color: rgb(0,51,153);
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 5px;
}
.right{
  margin: 25px;
  width: 60%;

}
.left{
  width: 40%;
}
.navigation{
  background-color: #6698CB;
  color: white;
  padding: 5px;
  text-align: center;
}
.profile-body{
  display: flex;
  justify-content: space-between;
}
.url{
  border: solid 1px #6699cc;
  padding: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tom{
  margin: 15px;
}
.profile-pic{
  display: flex;
  justify-content: flex-start;
}
.profile-info{
  padding-top: 25px;
}
.tom p{
  text-align: center;
}
.extended-network{
  border: solid 2px black;
  text-align: center;
}
.orange{
  color: #FF6600;
  font-weight: bold;
}
.highlight{
  background-color: #ffcc99;
  padding: 5px;
  display: flex;
}
.method{
  display: flex;
  border: solid 2px #6699cc;
  padding: 10px;
}
.title-bar{
  background-color: #6699cc;
  color: white;
  font-weight: bold;
  display: flex;
  padding: 5px;
}
.interests{
  display: flex;
  flex-wrap: wrap;
  border: solid 2px #6699cc;
  flex-direction: row;

}
.category{
  width: 20%;
  background-color: #b1d0f0;

}
.list{
  width: 80%;
  background-color: #d5e8fb;

}
